/*** PRIMARY ***/
	* {
		box-sizing: border-box;
	}
	html {		
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
	}
	body {
	  margin: 0;
	}
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	main,
	menu,
	nav,
	section,
	summary {
	  display: block;
	}

.wrapper {
	text-align: center;
	margin: auto;
	width: 500px;
	padding: 25px;
	margin: auto;
}

a {
	color: inherit;
}

input[type=text], button {
	padding: 10px;
}
	.share-btn {
		margin-top: 25px;
		width: 100px;
		border-radius: 3px;
	}
	input[type=text] {
		display: block;
		border: 0;
		width: 100%;
	}

#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-size: .7em;
}

.think-it {
	margin-top: 15px;
}

.border {
	border: 1px solid #CCC;
}

h1 {
	font-weight: normal;
	margin-bottom: 10px;
}
h2 {
	font-size: 18px;
	margin: 0 0 25px 0;
	padding: 0;
}
#thoughts {
	height: 340px;
	display: block;
	overflow: hidden;
	position: relative;
	background: #fff;
	padding: 20px;
	margin-top: 25px;
}
	#thoughts_overlay:before {
	  position: absolute;
	  top: 0;  
	  height: 60%;
	  width: 100%;
	  content: "";
	  background: linear-gradient(to bottom,
	     rgba(255,255,255, 1) 20%, 
	     rgba(255,255,255, 0) 80%
	  );
	  pointer-events: none; /* so the text is still selectable */
	  left: 0px;
	}
	#thoughts_overlay:after {
	  position: absolute;
	  bottom: 0;  
	  height: 60%;
	  width: 100%;
	  content: "";
	  background: linear-gradient(to top,
	     rgba(255,255,255, 1) 20%, 
	     rgba(255,255,255, 0) 80%
	  );
	  pointer-events: none; /* so the text is still selectable */
	  left: 0px;
	}

.thoughts-list {
	position: relative;
	list-style: none;
}
	.thoughts-list li {
		line-height: 50px;
		vertical-align: middle;
	}